# Redirect HTTP to HTTPS
http://todo.techcraftedbyadam.com {
    redir https://todo.techcraftedbyadam.com{uri} 308
}

https://todo.techcraftedbyadam.com {
    root * /var/www/html
    reverse_proxy /api/* backend:8080
    file_server
}
