@font-face {
  font-family: 'Oswald';
  src: url(http://127.0.0.1:5500/dist/7aae63364e12a102a22a.ttf);
}

body { 
  width: 100vw;
  height: 100vh;  
  background: rgb(250,249,246);
  background: linear-gradient(145deg, rgba(250,249,246,1) 83%, rgba(0,121,140,1) 94%, rgba(31,27,27,1) 100%); 
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
}

#page {
  display: grid;
  grid-template-columns: minmax(auto, 230px) auto;
}

nav {  
  padding: 1vmin;
  height: 98vh;
  width: auto;  
  display: grid;
  grid-template-rows: 1fr 3fr 1fr 3fr 1fr;
}

nav h1 {
  font-size: clamp(39px, 6vmin, 55px);
  font-weight: 600;
  font-style: italic;
  color: hsla(302, 16%, 45%, 1);
  font-family: 'Oswald', sans-serif;
  width: 100%;
  text-align: justify;
}

h2 {  
  font-family: 'Oswald', sans-serif;
  font-size: 3.8vmin;
  color: hsla(302, 16%, 45%, 1);
  font-weight: 0;
  font-style: italic;
  padding-bottom: 3vmin;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 3.7vmin;
  color: hsla(302, 16%, 45%, 1);
  font-weight: 600;
  font-style: italic;
  padding-bottom: 5vmin;
}

.nav-container {
  width: 100%;
  height: 100%;
}

.nav-button {
  color: hsl(43, 100%, 59%);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 12rem;
  height: auto;
  font-family: 'Oswald', sans-serif;
  font-size: 2.8vmin;
  font-weight: bold;
}

.nav-button:hover{
  font-size: 2.9vmin;
  text-shadow: 2px 2px rgb(240, 238, 232);
}

#content {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#date-hero {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1vmin;
  height: 25vh;
  width: auto;
}
#start-button {
  color: hsl(43, 100%, 59%);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 100%;
  height: auto;
  font-family: 'Oswald', sans-serif;
  font-size: 3.5vmin;
  font-weight: bold;
}

#start-button:hover{
  font-size: 3.7vmin;
  text-shadow: 2px 2px rgb(240, 238, 232);
}

#date-today {
  font-family: 'Oswald', sans-serif;
  font-size: clamp(30px, 5vmin, 50px);
  color: hsla(302, 16%, 45%, 1);
  font-weight: 300;
  line-height: 1em;
  text-align: center;
  width: auto;
  height: 15vh;
}

#form-container {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 3vmin;
  background-color: rgba(245, 245, 245, 0);
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Oswald', sans-serif;
  font-size: clamp(22px, 2vmin, 5px);
  color: hsla(302, 16%, 45%, 1);
  font-weight: 600;
  line-height: 1em;
}

.data-entry {
  display: flex;
  justify-content: space-between;
  height: 70vh;
  width: clamp( 50vw, 80%, 680px );
  display: inherit;
  flex-direction: column;
  line-height: 1.5em;
  font-weight: 300;
}
.data-entry * {
  padding-bottom: 2px;
}
.data-entry input {
  background: none;
  border: none;
  border-bottom: 1px solid;
  border-color: hsla(120, 5%, 84%, 1);

  height: 2.4vmin;
  width: 100%;
  font-size: 1.6vmin;
  font-family: 'Oswald', sans-serif;
}
.data-entry input:focus {
  padding-bottom: 1px;
  border-bottom: 2px solid;
  border-color: rgba(0, 120, 138, 0.473);
  outline: none;
}

.data-entry button {
  color: hsl(43, 100%, 59%);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 12rem;
  height: auto;
  font-family: 'Oswald', sans-serif;
  font-size: 2.8vmin;
  font-weight: bold;
}
.data-entry button:hover {
  padding: 0;
  font-size: 2.9vmin;
  text-shadow: 2px 2px rgb(240, 238, 232);
}
#checklist-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.form-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#checkboxes {
  height: 25vh;
}
.task-list-item {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
#explorer-frame {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#explorer {
  height: 90vh;
  width: 90%;
  display: grid;
  grid-template-rows: 10vh 75vh 5vh;
  background-color: greenyellow;
}
#explorer-tabs {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
}
#explorer-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
.explorer-list-item {
  width: 100%;
  height: auto;
}
.explorer-list-item button {
  width: 100%;
  height: 7vh;
}
.edit-button {
  width: 3vmin;
  height: 1vmin;
}