@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Playfair+Display&display=swap');
/*
font-family: 'Cabin', sans-serif;

font-family: 'Playfair Display', serif;
*/


body { 
  width: 100vw;
  height: 100vh;
  
  background-color: lightcoral;
}

#img-div {
  filter: brightness(0.7);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
}

nav {
  position: fixed;
  
  height: 100vh;
  width: clamp(190px, 25vw, 270px);
  

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: clamp(39px, 5vmin, 55px);
  color: rgb(255, 255, 255);
  font-family: 'Playfair Display', serif;
  width: 100%;
  text-align: justify;
}

#task-container {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;  
}

#content {
  height: 100%;
  width: 75vw;
  margin-left: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#date-today {
  font-size: clamp(30px, 4vmin, 5px);
  color: white;
  font-family: 'Playfair Display', serif;
  width: auto;
  height: 10vh;
}

#form-container {
  box-sizing: border-box;
  padding: 3vmin;
  border-radius: 1px;
  background-color: beige;
  box-shadow: 3px 3px 15px lightcoral;
  line-height: 5vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-container form {
  display: inherit;
  flex-direction: column;
}

#checklist-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.display {
  display: none;
}